<h1>Showing all of the articles listed.</h1>
<table>
  <tr>
    <th>Team</th><br>
    <th>Rank</th><br>
    <th>Strength</th>
  </tr>
  <tr>
    <% @teams.each do |team| %>
    <td><%= team.name  %></td>
    <td><%= team.rank %></td>
    <td><%= team.strength %></td>
    <td><%= link_to 'View this team', team_path(team)  %></td>
    <td><%= link_to 'Edit this team', edit_team_path(team)  %></td>
    <td><%= link_to 'Delete this team', edit_team_path(team), method: :delete  %></td>
    <tr>
    <% end %>
    <%= link_to 'Create an article', new_team_path %>
</table>
